* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Avenir;
}
body { width:100%; }
header {
	min-height: 30px;
	padding: 10px;
	background: #fffdfd;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 22px;
	margin-left: 15px;
	margin-top: 2px;
}
header, article {
	border-bottom: 1px solid #faa;
}
header ul, header li, header button {
	float: right;
}
header h1, header h2, header p, header li {
	float: left;
	text-transform: uppercase;
}
header li, header p, header button {
	font-size: 16px;
	border-radius: 5px;
	background: #eee;
	height: 25px;
	margin: 1px 3px;
	padding: 3px 7px 0;
}
header button { height: 28px;}
header p { margin-left: 10px; }
a {
	text-decoration: none;
	color: black;
}
section.product h1 { padding-left: 10px; }
section.product header h1, section.product header h2 { font-weight: 500; }
section.product article header h1, section.product article header h2 { font-weight: 100; }
article div { margin:  20px 30px; }
header.top { border-bottom-width: 4px; }
.hidden {
	display: none;
}